In [125]:
import pandas as pd

In [126]:
pwd

'C:\\Users\\Kunj Shah\\Downloads'

In [127]:
import os

In [128]:
os.chdir(r'C:\Users\Kunj Shah\Downloads')

In [129]:
pwd

'C:\\Users\\Kunj Shah\\Downloads'

In [130]:
df = pd.read_csv(r'C:\Users\Kunj Shah\Downloads\apps.csv')

In [131]:
df1 = pd.read_csv(r'C:\Users\Kunj Shah\Downloads\user_reviews.csv')

In [132]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [133]:
df.shape

(9659, 13)

In [134]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9659 entries, 0 to 9658
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9659 non-null   object
 1   Category        9659 non-null   object
 2   Rating          8196 non-null   float64
 3   Reviews         9659 non-null   int64
 4   Size            8432 non-null   float64
 5   Installs        9659 non-null   object
 6   Type            9659 non-null   object
 7   Price           9659 non-null   object
 8   Content Rating  9659 non-null   object
 9   Genres          9659 non-null   object
 10  Last Updated    9659 non-null   object
 11  Current Ver     9651 non-null   object
 12  Android Ver     9657 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 981.1+ KB

In [135]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [136]:
df.isnull().sum()

App                  0
Category             0
Rating            1463
Reviews              0
Size              1227
Installs             0
Type                 0
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

In [137]:
df_copy = df

In [138]:
df_copy['Rating'].value_counts()

4.3    897
4.4    895
4.5    848
4.2    810
4.6    683
4.1    621
4.0    513
4.7    442
3.9    359
3.8    286
5.0    271
3.7    224
4.8    221
3.6    167
3.5    156
3.4    126
3.3    100
4.9     85
3.0     81
3.1     69
3.2     63
2.9     45
2.8     40
2.6     24
2.7     23
2.5     20
2.3     20
2.4     19
1.0     16
2.2     14
2.0     12
1.9     11
1.7      8
1.8      8
2.1      8
1.6      4
1.4      3
1.5      3
1.2      1
Name: Rating, dtype: int64

In [139]:
df_copy['Size'].value_counts()

11.0    182
12.0    181
13.0    177
14.0    177
15.0    163
       ...
89.0      9
87.0      9
86.0      7
75.0      7
90.0      6
Name: Size, Length: 191, dtype: int64

In [140]:
df_copy['Size'].mean()

20.39532732447818

In [141]:
df_copy[df_copy['Size'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
37,Floor Plan Creator,ART_AND_DESIGN,4.1,36639,NaN,"5,000,000+",Free,0,Everyone,Art & Design,"July 14, 2018",Varies with device,2.3.3 and up
42,Textgram - write on photos,ART_AND_DESIGN,4.4,295221,NaN,"10,000,000+",Free,0,Everyone,Art & Design,"July 30, 2018",Varies with device,Varies with device
52,Used Cars and Trucks for Sale,AUTO_AND_VEHICLES,4.6,17057,NaN,"1,000,000+",Free,0,Everyone,Auto & Vehicles,"July 30, 2018",Varies with device,Varies with device
67,Ulysse Speedometer,AUTO_AND_VEHICLES,4.3,40211,NaN,"5,000,000+",Free,0,Everyone,Auto & Vehicles,"July 30, 2018",Varies with device,Varies with device
68,REPUVE,AUTO_AND_VEHICLES,3.9,356,NaN,"100,000+",Free,0,Everyone,Auto & Vehicles,"May 25, 2018",Varies with device,Varies with device
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9536,My Earthquake Alerts - US & Worldwide Earthquakes,WEATHER,4.4,3471,NaN,"100,000+",Free,0,Everyone,Weather,"July 24, 2018",Varies with device,Varies with device
9546,Posta App,MAPS_AND_NAVIGATION,3.6,8,NaN,"1,000+",Free,0,Everyone,Maps & Navigation,"September 27, 2017",Varies with device,4.4 and up
9584,Chat For Strangers - Video Chat,SOCIAL,3.4,622,NaN,"100,000+",Free,0,Mature 17+,Social,"May 23, 2018",Varies with device,Varies with device
9644,Frim: get new friends on local chat rooms,SOCIAL,4.0,88486,NaN,"5,000,000+",Free,0,Mature 17+,Social,"March 23, 2018",Varies with device,Varies with device
9657,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,NaN,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device

In [142]:
df_copy['Current Ver'].value_counts()

Varies with device    1055
1                      831
1.1                    272
1.2                    183
2                      163
                      ...
20180517                 1
3.1.00                   1
2.1.54                   1
32.1                     1
2.0.148.0                1
Name: Current Ver, Length: 2769, dtype: int64

In [143]:
df_copy['Android Ver'].value_counts()

4.1 and up            2202
4.0.3 and up          1395
4.0 and up            1285
Varies with device     990
4.4 and up             818
2.3 and up             616
5.0 and up             512
4.2 and up             372
2.3.3 and up           273
2.2 and up             239
3.0 and up             231
4.3 and up             221
2.1 and up             133
1.6 and up             116
6.0 and up              54
7.0 and up              42
3.2 and up              36
2.0 and up              32
5.1 and up              22
1.5 and up              20
4.4W and up             11
3.1 and up              10
2.0.1 and up             7
8.0 and up               6
7.1 and up               3
4.0.3 - 7.1.1            2
5.0 - 8.0                2
1.0 and up               2
7.0 - 7.1.1              1
4.1 - 7.1.1              1
5.0 - 6.0                1
2.2 - 7.1.1              1
5.0 - 7.1.1              1
Name: Android Ver, dtype: int64

In [144]:
df_copy['Rating'].fillna(df_copy['Rating'].mean(),inplace=True)

In [145]:
df_copy.isnull().sum()

App                  0
Category             0
Rating               0
Reviews              0
Size              1227
Installs             0
Type                 0
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

In [146]:
df_copy['Rating'].value_counts()

4.173243    1463
4.300000     897
4.400000     895
4.500000     848
4.200000     810
4.600000     683
4.100000     621
4.000000     513
4.700000     442
3.900000     359
3.800000     286
5.000000     271
3.700000     224
4.800000     221
3.600000     167
3.500000     156
3.400000     126
3.300000     100
4.900000      85
3.000000      81
3.100000      69
3.200000      63
2.900000      45
2.800000      40
2.600000      24
2.700000      23
2.500000      20
2.300000      20
2.400000      19
1.000000      16
2.200000      14
2.000000      12
1.900000      11
1.700000       8
1.800000       8
2.100000       8
1.600000       4
1.400000       3
1.500000       3
1.200000       1
Name: Rating, dtype: int64

In [147]:
df_copy['Size'].fillna(df_copy['Size'].mean(), inplace=True)

In [148]:
df_copy.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       8
Android Ver       2
dtype: int64

In [149]:
df['Current Ver'].value_counts()

Varies with device    1055
1                      831
1.1                    272
1.2                    183
2                      163
                      ...
20180517                 1
3.1.00                   1
2.1.54                   1
32.1                     1
2.0.148.0                1
Name: Current Ver, Length: 2769, dtype: int64

In [150]:
df_copy['Current Ver'].replace('Varies with device',0,inplace=True)

In [151]:
df_copy['Current Ver'].value_counts()

0            1055
1             831
1.1           272
1.2           183
2             163
             ...
20180517        1
3.1.00          1
2.1.54          1
32.1            1
2.0.148.0       1
Name: Current Ver, Length: 2769, dtype: int64

In [152]:
df_copy.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",0,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [153]:
df_copy[df_copy['Current Ver'] == '20180517']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2584,weight conversion calculator,TOOLS,4.0,807,1.8,"100,000+",Free,0,Everyone,Tools,"May 18, 2018",20180517,2.3 and up

In [154]:
df_copy.drop(2584, inplace=True)

In [155]:
df_copy[df_copy['Current Ver'] == '20180517']

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [156]:
df_copy['Current Ver'].value_counts()

0                     1055
1                      831
1.1                    272
1.2                    183
2                      163
                      ...
5.0.44                   1
v1.39.3                  1
4.3.2.0                  1
3.2.258b ae1da5165       1
2.0.148.0                1
Name: Current Ver, Length: 2768, dtype: int64

In [157]:
df_copy[df_copy['Current Ver'] == '3.2.258b ae1da5165']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2753,Microsoft Translator,PRODUCTIVITY,4.6,209696,49.0,"5,000,000+",Free,0,Everyone,Productivity,"June 18, 2018",3.2.258b ae1da5165,4.3 and up

In [158]:
df_copy.drop(2753,inplace=True)

In [159]:
df_copy[df_copy['Current Ver'] == '3.2.258b ae1da5165']

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [160]:
df_copy['Current Ver'].value_counts()

0            1055
1             831
1.1           272
1.2           183
2             163
             ...
1.7.9           1
5.0.44          1
v1.39.3         1
4.3.2.0         1
2.0.148.0       1
Name: Current Ver, Length: 2767, dtype: int64

In [161]:
df_copy[df_copy['Current Ver'] == 'v1.39.3']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2760,Hacker's Keyboard,PRODUCTIVITY,4.4,41418,1.2,"1,000,000+",Free,0,Everyone,Productivity,"December 11, 2016",v1.39.3,2.2 and up

In [162]:
df_copy.drop(2760,inplace=True)

In [163]:
df_copy[df_copy['Current Ver'] == 'v1.39.3']

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [164]:
df_copy['Current Ver'].value_counts()

0                             1055
1                              831
1.1                            272
1.2                            183
2                              163
                              ...
5.1.5                            1
2.11.5                           1
6.6.28                           1
1.9.2.180419172639.dbf3246       1
2.0.148.0                        1
Name: Current Ver, Length: 2766, dtype: int64

In [165]:
df_copy[df_copy['Current Ver'] == '1.9.2.180419172639.dbf3246']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2664,OnePlus Icon Pack,PERSONALIZATION,4.8,440,0.9,"500,000+",Free,0,Everyone,Personalization,"May 23, 2018",1.9.2.180419172639.dbf3246,5.0 and up

In [166]:
df_copy.drop(2664,inplace=True)

In [167]:
df_copy[df_copy['Current Ver'] == '1.9.2.180419172639.dbf3246']

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [168]:
df_copy['Current Ver'].value_counts()

0              1055
1               831
1.1             272
1.2             183
2               163
               ...
5.1.5             1
2.11.5            1
6.6.28            1
6.7.24.2018       1
2.0.148.0         1
Name: Current Ver, Length: 2765, dtype: int64

In [169]:
df_copy['Android Ver'].value_counts()

4.1 and up            2202
4.0.3 and up          1395
4.0 and up            1285
Varies with device     990
4.4 and up             818
2.3 and up             615
5.0 and up             511
4.2 and up             372
2.3.3 and up           273
2.2 and up             238
3.0 and up             231
4.3 and up             220
2.1 and up             133
1.6 and up             116
6.0 and up              54
7.0 and up              42
3.2 and up              36
2.0 and up              32
5.1 and up              22
1.5 and up              20
4.4W and up             11
3.1 and up              10
2.0.1 and up             7
8.0 and up               6
7.1 and up               3
4.0.3 - 7.1.1            2
5.0 - 8.0                2
1.0 and up               2
7.0 - 7.1.1              1
4.1 - 7.1.1              1
5.0 - 6.0                1
2.2 - 7.1.1              1
5.0 - 7.1.1              1
Name: Android Ver, dtype: int64

In [170]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9655 entries, 0 to 9658
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9655 non-null   object
 1   Category        9655 non-null   object
 2   Rating          9655 non-null   float64
 3   Reviews         9655 non-null   int64
 4   Size            9655 non-null   float64
 5   Installs        9655 non-null   object
 6   Type            9655 non-null   object
 7   Price           9655 non-null   object
 8   Content Rating  9655 non-null   object
 9   Genres          9655 non-null   object
 10  Last Updated    9655 non-null   object
 11  Current Ver     9647 non-null   object
 12  Android Ver     9653 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.0+ MB

In [171]:
df_copy['Price'].value_counts()

0          8899
$0.99       145
$2.99       124
$1.99        73
$4.99        70
           ...
$18.99        1
$389.99       1
$19.90        1
$1.75         1
$1.04         1
Name: Price, Length: 92, dtype: int64

In [172]:
#df_copy['Price'] = str(df_copy['Price'])

In [173]:
#df_copy['Price'] = df_copy['Price'].astype(str)
#df_copy['Price'] = df_copy['Price'].astype(float)

In [174]:
df_copy['Price'].value_counts()

0          8899
$0.99       145
$2.99       124
$1.99        73
$4.99        70
           ...
$18.99        1
$389.99       1
$19.90        1
$1.75         1
$1.04         1
Name: Price, Length: 92, dtype: int64

In [175]:
df_copy.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",0,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [176]:
#df_copy['Price'] = df_copy['Price'].apply(lambda x : x.split('$')[0])

In [177]:
df_copy['Price'].value_counts()

0          8899
$0.99       145
$2.99       124
$1.99        73
$4.99        70
           ...
$18.99        1
$389.99       1
$19.90        1
$1.75         1
$1.04         1
Name: Price, Length: 92, dtype: int64

In [178]:
df_copy.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",0,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [179]:
df_copy['Price'] = df_copy['Price'].replace('\$', "", regex=True)

In [180]:
df_copy['Price'].value_counts()

0         8899
0.99       145
2.99       124
1.99        73
4.99        70
          ...
18.99        1
389.99       1
19.90        1
1.75         1
1.04         1
Name: Price, Length: 92, dtype: int64

In [181]:
df_copy.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",0,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [182]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9655 entries, 0 to 9658
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9655 non-null   object
 1   Category        9655 non-null   object
 2   Rating          9655 non-null   float64
 3   Reviews         9655 non-null   int64
 4   Size            9655 non-null   float64
 5   Installs        9655 non-null   object
 6   Type            9655 non-null   object
 7   Price           9655 non-null   object
 8   Content Rating  9655 non-null   object
 9   Genres          9655 non-null   object
 10  Last Updated    9655 non-null   object
 11  Current Ver     9647 non-null   object
 12  Android Ver     9653 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.0+ MB

In [183]:
df_copy['Price'] = df_copy['Price'].astype(float)

In [184]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9655 entries, 0 to 9658
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9655 non-null   object
 1   Category        9655 non-null   object
 2   Rating          9655 non-null   float64
 3   Reviews         9655 non-null   int64
 4   Size            9655 non-null   float64
 5   Installs        9655 non-null   object
 6   Type            9655 non-null   object
 7   Price           9655 non-null   float64
 8   Content Rating  9655 non-null   object
 9   Genres          9655 non-null   object
 10  Last Updated    9655 non-null   object
 11  Current Ver     9647 non-null   object
 12  Android Ver     9653 non-null   object
dtypes: float64(3), int64(1), object(9)
memory usage: 1.0+ MB

In [185]:
df_copy['Price'].value_counts()

0.00      8899
0.99       145
2.99       124
1.99        73
4.99        70
          ...
18.99        1
389.99       1
19.90        1
1.75         1
1.04         1
Name: Price, Length: 92, dtype: int64

In [186]:
df1.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [188]:
df1_copy=df1

In [189]:
df1_copy.isnull().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

In [190]:
df1_copy.shape

(64295, 5)

In [191]:
df1_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [193]:
df1_copy.dropna(how='any',inplace=True)

In [194]:
df1_copy.isnull().sum()

App                       0
Translated_Review         0
Sentiment                 0
Sentiment_Polarity        0
Sentiment_Subjectivity    0
dtype: int64

In [195]:
df1_copy.shape

(37427, 5)

In [198]:
df_copy.to_csv('clean_apps_review.csv',index=False)

In [199]:
df1_copy.to_csv('clean_user_review.csv',index=False)