In [46]:
import pandas as pd

In [47]:
pwd

'C:\\Users\\Kunj Shah\\Downloads'

In [48]:
import os

In [49]:
os.chdir(r'C:\Users\Kunj Shah\Downloads')

In [50]:
pwd

'C:\\Users\\Kunj Shah\\Downloads'

In [51]:
df_nutrition_drinks = pd.read_csv(r'C:\Users\Kunj Shah\Downloads\starbucks-menu-nutrition-drinks.csv', encoding = 'utf8')

In [52]:
df_nutrition_food = pd.read_csv(r'C:\Users\Kunj Shah\Downloads\starbucks-menu-nutrition-food.csv', encoding = 'utf16')

In [53]:
df_drink_menu = pd.read_csv(r'C:\Users\Kunj Shah\Downloads\starbucks_drinkMenu_expanded.csv', encoding = 'utf8')

In [54]:
df_nutrition_drinks.head()

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10

In [55]:
df_nutrition_food.head()

         Unnamed: 0   Calories   Fat (g)   Carb. (g)   Fiber (g)   Protein (g)
0      Chonga Bagel        300       5.0          50           3            12
1      8-Grain Roll        380       6.0          70           7            10
2  Almond Croissant        410      22.0          45           3            10
3     Apple Fritter        460      23.0          56           2             7
4  Banana Nut Bread        420      22.0          52           2             6

In [56]:
df_drink_menu.head()

,Beverage_category,Beverage,Beverage_prep,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
0,Coffee,Brewed Coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0%,0%,0%,0%,175
1,Coffee,Brewed Coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0%,0%,0%,0%,260
2,Coffee,Brewed Coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,0%,0%,330
3,Coffee,Brewed Coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,2%,0%,410
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10%,0%,20%,0%,75

In [57]:
df_nutrition_food.set_index('Unnamed: 0', inplace = True)

In [58]:
df_nutrition_food.head()

                   Calories   Fat (g)   Carb. (g)   Fiber (g)   Protein (g)
Unnamed: 0
Chonga Bagel            300       5.0          50           3            12
8-Grain Roll            380       6.0          70           7            10
Almond Croissant        410      22.0          45           3            10
Apple Fritter           460      23.0          56           2             7
Banana Nut Bread        420      22.0          52           2             6

In [59]:
df_nutrition_food = df_nutrition_food.reset_index()

In [60]:
df_nutrition_food.head()

         Unnamed: 0   Calories   Fat (g)   Carb. (g)   Fiber (g)   Protein (g)
0      Chonga Bagel        300       5.0          50           3            12
1      8-Grain Roll        380       6.0          70           7            10
2  Almond Croissant        410      22.0          45           3            10
3     Apple Fritter        460      23.0          56           2             7
4  Banana Nut Bread        420      22.0          52           2             6

In [61]:
df_nutrition_food.rename(columns={'Unnamed: 0' : 'Food_item'},inplace=True)

In [62]:
df_nutrition_food.head()

          Food_item   Calories   Fat (g)   Carb. (g)   Fiber (g)   Protein (g)
0      Chonga Bagel        300       5.0          50           3            12
1      8-Grain Roll        380       6.0          70           7            10
2  Almond Croissant        410      22.0          45           3            10
3     Apple Fritter        460      23.0          56           2             7
4  Banana Nut Bread        420      22.0          52           2             6

In [63]:
df_nutrition_drinks.head()

,Unnamed: 0,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10

In [64]:
df_nutrition_drinks.rename(columns={'Unnamed: 0' : 'Drinks_item'},inplace=True)

In [65]:
df_nutrition_drinks.head()

,Drinks_item,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10

In [66]:
df_drink_menu_copy = df_drink_menu

In [67]:
df_drink_menu_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Beverage_category          242 non-null    object
 1   Beverage                   242 non-null    object
 2   Beverage_prep              242 non-null    object
 3   Calories                   242 non-null    int64
 4    Total Fat (g)             242 non-null    object
 5   Trans Fat (g)              242 non-null    float64
 6   Saturated Fat (g)          242 non-null    float64
 7    Sodium (mg)               242 non-null    int64
 8    Total Carbohydrates (g)   242 non-null    int64
 9   Cholesterol (mg)           242 non-null    int64
 10   Dietary Fibre (g)         242 non-null    int64
 11   Sugars (g)                242 non-null    int64
 12   Protein (g)               242 non-null    float64
 13  Vitamin A (% DV)           242 non-null    object
 14  Vitamin C (% DV)           242 non-null    object
 15   Calcium (% DV)            242 non-null    object
 16  Iron (% DV)                242 non-null    object
 17  Caffeine (mg)              241 non-null    object
dtypes: float64(3), int64(6), object(9)
memory usage: 34.2+ KB

In [68]:
df_drink_menu_copy.head()

,Beverage_category,Beverage,Beverage_prep,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
0,Coffee,Brewed Coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0%,0%,0%,0%,175
1,Coffee,Brewed Coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0%,0%,0%,0%,260
2,Coffee,Brewed Coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,0%,0%,330
3,Coffee,Brewed Coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,2%,0%,410
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10%,0%,20%,0%,75

In [71]:
df_drink_menu_copy['Vitamin A (% DV) '] = df_drink_menu_copy['Vitamin A (% DV) '].replace({'%' : ''}, regex=True)

In [72]:
df_drink_menu_copy.head()

,Beverage_category,Beverage,Beverage_prep,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
0,Coffee,Brewed Coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0%,0%,0%,175
1,Coffee,Brewed Coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0%,0%,0%,260
2,Coffee,Brewed Coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0%,0%,0%,330
3,Coffee,Brewed Coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0%,2%,0%,410
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0%,20%,0%,75

In [73]:
df_drink_menu_copy['Vitamin A (% DV) ']

0       0
1       0
2       0
3       0
4      10
       ..
237     6
238     6
239     6
240     4
241     8
Name: Vitamin A (% DV) , Length: 242, dtype: object

In [74]:
df_drink_menu_copy['Vitamin C (% DV)'] = df_drink_menu_copy['Vitamin C (% DV)'].replace({'%' : ''}, regex=True)
df_drink_menu_copy[' Calcium (% DV) '] = df_drink_menu_copy[' Calcium (% DV) '].replace({'%' : ''}, regex=True)
df_drink_menu_copy['Iron (% DV) '] = df_drink_menu_copy['Iron (% DV) '].replace({'%' : ''}, regex=True)

In [75]:
df_drink_menu_copy.head()

,Beverage_category,Beverage,Beverage_prep,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
0,Coffee,Brewed Coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0,175
1,Coffee,Brewed Coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0,0,0,260
2,Coffee,Brewed Coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,0,0,330
3,Coffee,Brewed Coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,2,0,410
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0,20,0,75

In [76]:
df_drink_menu_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Beverage_category          242 non-null    object
 1   Beverage                   242 non-null    object
 2   Beverage_prep              242 non-null    object
 3   Calories                   242 non-null    int64
 4    Total Fat (g)             242 non-null    object
 5   Trans Fat (g)              242 non-null    float64
 6   Saturated Fat (g)          242 non-null    float64
 7    Sodium (mg)               242 non-null    int64
 8    Total Carbohydrates (g)   242 non-null    int64
 9   Cholesterol (mg)           242 non-null    int64
 10   Dietary Fibre (g)         242 non-null    int64
 11   Sugars (g)                242 non-null    int64
 12   Protein (g)               242 non-null    float64
 13  Vitamin A (% DV)           242 non-null    object
 14  Vitamin C (% DV)           242 non-null    object
 15   Calcium (% DV)            242 non-null    object
 16  Iron (% DV)                242 non-null    object
 17  Caffeine (mg)              241 non-null    object
dtypes: float64(3), int64(6), object(9)
memory usage: 34.2+ KB

In [82]:
df_drink_menu_copy.columns

Index(['Beverage_category', 'Beverage', 'Beverage_prep', 'Calories',
       ' Total Fat (g)', 'Trans Fat (g) ', 'Saturated Fat (g)', ' Sodium (mg)',
       ' Total Carbohydrates (g) ', 'Cholesterol (mg)', ' Dietary Fibre (g)',
       ' Sugars (g)', ' Protein (g) ', 'Vitamin A (% DV) ', 'Vitamin C (% DV)',
       ' Calcium (% DV) ', 'Iron (% DV) ', 'Caffeine (mg)'],
      dtype='object')

In [84]:
df_drink_menu_copy[' Total Fat (g)'].value_counts()

0.1    34
0      21
1.5    16
5      15
3      15
4      14
0.2    14
1      13
2.5    13
6      13
3.5    12
7      10
2      10
4.5     9
0.3     6
8       6
9       6
0.5     4
11      3
10      3
0.4     2
15      1
13      1
3 2     1
Name:  Total Fat (g), dtype: int64

In [88]:
df_drink_menu_copy[df_drink_menu_copy[' Total Fat (g)'] == '3 2']

,Beverage_category,Beverage,Beverage_prep,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
237,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Soymilk,320,3 2,0.4,0.0,0,250,67,1,64,5.0,6,8,20,10,0

In [92]:
[df_drink_menu_copy[df_drink_menu_copy[' Total Fat (g)'] == '3 2'][' Total Fat (g)'].replace({' ' : '.'},regex=True,inplace=True)]

C:\Users\Kunj Shah\AppData\Local\Temp\ipykernel_13132\2495953464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  [df_drink_menu_copy[df_drink_menu_copy[' Total Fat (g)'] == '3 2'][' Total Fat (g)'].replace({' ' : '.'},regex=True,inplace=True)]

[None]

In [93]:
df_drink_menu_copy[df_drink_menu_copy[' Total Fat (g)'] == '3 2']

,Beverage_category,Beverage,Beverage_prep,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
237,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Soymilk,320,3 2,0.4,0.0,0,250,67,1,64,5.0,6,8,20,10,0

In [95]:
df_drink_menu_copy[' Total Fat (g)'].str.strip()

0      0.1
1      0.1
2      0.1
3      0.1
4      0.1
      ...
237    3 2
238    0.1
239    3.5
240    1.5
241    0.1
Name:  Total Fat (g), Length: 242, dtype: object

In [96]:
df_drink_menu_copy[' Total Fat (g)'].astype(str)

0      0.1
1      0.1
2      0.1
3      0.1
4      0.1
      ...
237    3 2
238    0.1
239    3.5
240    1.5
241    0.1
Name:  Total Fat (g), Length: 242, dtype: object

In [97]:
df_drink_menu_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Beverage_category          242 non-null    object
 1   Beverage                   242 non-null    object
 2   Beverage_prep              242 non-null    object
 3   Calories                   242 non-null    int64
 4    Total Fat (g)             242 non-null    object
 5   Trans Fat (g)              242 non-null    float64
 6   Saturated Fat (g)          242 non-null    float64
 7    Sodium (mg)               242 non-null    int64
 8    Total Carbohydrates (g)   242 non-null    int64
 9   Cholesterol (mg)           242 non-null    int64
 10   Dietary Fibre (g)         242 non-null    int64
 11   Sugars (g)                242 non-null    int64
 12   Protein (g)               242 non-null    float64
 13  Vitamin A (% DV)           242 non-null    object
 14  Vitamin C (% DV)           242 non-null    object
 15   Calcium (% DV)            242 non-null    object
 16  Iron (% DV)                242 non-null    object
 17  Caffeine (mg)              241 non-null    object
dtypes: float64(3), int64(6), object(9)
memory usage: 34.2+ KB

In [101]:
df_drink_menu_copy[' Total Fat (g)'] = df_drink_menu_copy[' Total Fat (g)'].str.replace(' ','.')

In [106]:
df_drink_menu_copy[' Total Fat (g)'] = df_drink_menu_copy[' Total Fat (g)'].astype('float')

In [107]:
df_drink_menu_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Beverage_category          242 non-null    object
 1   Beverage                   242 non-null    object
 2   Beverage_prep              242 non-null    object
 3   Calories                   242 non-null    int64
 4    Total Fat (g)             242 non-null    float64
 5   Trans Fat (g)              242 non-null    float64
 6   Saturated Fat (g)          242 non-null    float64
 7    Sodium (mg)               242 non-null    int64
 8    Total Carbohydrates (g)   242 non-null    int64
 9   Cholesterol (mg)           242 non-null    int64
 10   Dietary Fibre (g)         242 non-null    int64
 11   Sugars (g)                242 non-null    int64
 12   Protein (g)               242 non-null    float64
 13  Vitamin A (% DV)           242 non-null    object
 14  Vitamin C (% DV)           242 non-null    object
 15   Calcium (% DV)            242 non-null    object
 16  Iron (% DV)                242 non-null    object
 17  Caffeine (mg)              241 non-null    object
dtypes: float64(4), int64(6), object(8)
memory usage: 34.2+ KB

In [108]:
df_drink_menu_copy['Vitamin A (% DV) '] = df_drink_menu_copy['Vitamin A (% DV) '].astype('float')

In [109]:
df_drink_menu_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Beverage_category          242 non-null    object
 1   Beverage                   242 non-null    object
 2   Beverage_prep              242 non-null    object
 3   Calories                   242 non-null    int64
 4    Total Fat (g)             242 non-null    float64
 5   Trans Fat (g)              242 non-null    float64
 6   Saturated Fat (g)          242 non-null    float64
 7    Sodium (mg)               242 non-null    int64
 8    Total Carbohydrates (g)   242 non-null    int64
 9   Cholesterol (mg)           242 non-null    int64
 10   Dietary Fibre (g)         242 non-null    int64
 11   Sugars (g)                242 non-null    int64
 12   Protein (g)               242 non-null    float64
 13  Vitamin A (% DV)           242 non-null    float64
 14  Vitamin C (% DV)           242 non-null    object
 15   Calcium (% DV)            242 non-null    object
 16  Iron (% DV)                242 non-null    object
 17  Caffeine (mg)              241 non-null    object
dtypes: float64(5), int64(6), object(7)
memory usage: 34.2+ KB

In [112]:
df_drink_menu_copy['Vitamin C (% DV)'] = df_drink_menu_copy['Vitamin C (% DV)'].astype('float')

In [113]:
df_drink_menu_copy[' Calcium (% DV) '] = df_drink_menu_copy[' Calcium (% DV) '].astype('float')

In [114]:
df_drink_menu_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Beverage_category          242 non-null    object
 1   Beverage                   242 non-null    object
 2   Beverage_prep              242 non-null    object
 3   Calories                   242 non-null    int64
 4    Total Fat (g)             242 non-null    float64
 5   Trans Fat (g)              242 non-null    float64
 6   Saturated Fat (g)          242 non-null    float64
 7    Sodium (mg)               242 non-null    int64
 8    Total Carbohydrates (g)   242 non-null    int64
 9   Cholesterol (mg)           242 non-null    int64
 10   Dietary Fibre (g)         242 non-null    int64
 11   Sugars (g)                242 non-null    int64
 12   Protein (g)               242 non-null    float64
 13  Vitamin A (% DV)           242 non-null    float64
 14  Vitamin C (% DV)           242 non-null    float64
 15   Calcium (% DV)            242 non-null    float64
 16  Iron (% DV)                242 non-null    object
 17  Caffeine (mg)              241 non-null    object
dtypes: float64(7), int64(6), object(5)
memory usage: 34.2+ KB

In [115]:
df_drink_menu_copy['Iron (% DV) '] = df_drink_menu_copy['Iron (% DV) '].astype('float')

In [126]:
df_drink_menu_copy['Caffeine (mg)'] = df_drink_menu_copy['Caffeine (mg)'].str.replace('Varies', 'varies')

In [128]:
df_drink_menu_copy['Caffeine (mg)'].value_counts()

75        37
0         35
150       34
varies    22
70        14
95        11
110        9
130        7
120        6
25         6
90         4
175        4
125        3
55         3
15         3
140        3
100        3
80         3
145        3
170        3
50         3
30         3
20         3
10         3
180        3
85         3
165        2
260        1
235        1
300        1
225        1
410        1
330        1
65         1
105        1
Name: Caffeine (mg), dtype: int64

In [130]:
df_drink_menu_copy['Caffeine (mg)'] = df_drink_menu_copy['Caffeine (mg)'].apply(lambda x : '75' if x == 'varies' else x)

In [131]:
df_drink_menu_copy['Caffeine (mg)'].value_counts()

75     59
0      35
150    34
70     14
95     11
110     9
130     7
25      6
120     6
90      4
175     4
10      3
125     3
145     3
30      3
100     3
50      3
140     3
180     3
55      3
80      3
85      3
20      3
15      3
170     3
165     2
410     1
235     1
330     1
260     1
225     1
300     1
65      1
105     1
Name: Caffeine (mg), dtype: int64

In [132]:
df_drink_menu_copy['Caffeine (mg)'] = df_drink_menu_copy['Caffeine (mg)'].astype('float')

In [133]:
df_drink_menu_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Beverage_category          242 non-null    object
 1   Beverage                   242 non-null    object
 2   Beverage_prep              242 non-null    object
 3   Calories                   242 non-null    int64
 4    Total Fat (g)             242 non-null    float64
 5   Trans Fat (g)              242 non-null    float64
 6   Saturated Fat (g)          242 non-null    float64
 7    Sodium (mg)               242 non-null    int64
 8    Total Carbohydrates (g)   242 non-null    int64
 9   Cholesterol (mg)           242 non-null    int64
 10   Dietary Fibre (g)         242 non-null    int64
 11   Sugars (g)                242 non-null    int64
 12   Protein (g)               242 non-null    float64
 13  Vitamin A (% DV)           242 non-null    float64
 14  Vitamin C (% DV)           242 non-null    float64
 15   Calcium (% DV)            242 non-null    float64
 16  Iron (% DV)                242 non-null    float64
 17  Caffeine (mg)              241 non-null    float64
dtypes: float64(9), int64(6), object(3)
memory usage: 34.2+ KB

In [134]:
df_nutrition_drinks.head()

,Drinks_item,Calories,Fat (g),Carb. (g),Fiber (g),Protein,Sodium
0,Cool Lime Starbucks Refreshers™ Beverage,45,0,11,0,0,10
1,Ombré Pink Drink,-,-,-,-,-,-
2,Pink Drink,-,-,-,-,-,-
3,Strawberry Acai Starbucks Refreshers™ Beverage,80,0,18,1,0,10
4,Very Berry Hibiscus Starbucks Refreshers™ Beve...,60,0,14,1,0,10

In [135]:
df_nutrition_drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Drinks_item  177 non-null    object
 1   Calories     177 non-null    object
 2   Fat (g)      177 non-null    object
 3   Carb. (g)    177 non-null    object
 4   Fiber (g)    177 non-null    object
 5   Protein      177 non-null    object
 6   Sodium       177 non-null    object
dtypes: object(7)
memory usage: 9.8+ KB

In [136]:
df_nutrition_drinks_copy = df_nutrition_drinks

In [137]:
df_nutrition_drinks_copy.isnull().sum()

Drinks_item    0
Calories       0
Fat (g)        0
Carb. (g)      0
Fiber (g)      0
Protein        0
Sodium         0
dtype: int64

In [138]:
df_nutrition_drinks_copy['Calories'].value_counts()

-      85
140    13
5       7
60      7
150     6
130     5
70      5
120     5
250     4
190     4
200     4
90      3
110     3
30      3
300     2
320     2
45      2
10      2
0       2
80      2
260     2
350     1
360     1
230     1
50      1
180     1
290     1
430     1
210     1
280     1
Name: Calories, dtype: int64

In [141]:
df_nutrition_drinks_copy['Calories'].replace('-', "", regex=True,inplace=True)

In [143]:
df_nutrition_drinks_copy['Calories'].isnull().sum()

0

In [144]:
df_nutrition_drinks_copy.replace('-','',regex=True,inplace=True)

In [146]:
df_nutrition_drinks_copy['Calories'] = df_nutrition_drinks_copy['Calories'].apply(pd.to_numeric)

In [147]:
df_nutrition_drinks_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Drinks_item  177 non-null    object
 1   Calories     92 non-null     float64
 2   Fat (g)      177 non-null    object
 3   Carb. (g)    177 non-null    object
 4   Fiber (g)    177 non-null    object
 5   Protein      177 non-null    object
 6   Sodium       177 non-null    object
dtypes: float64(1), object(6)
memory usage: 9.8+ KB

In [148]:
df_nutrition_drinks_copy['Fat (g)'] = df_nutrition_drinks_copy['Fat (g)'].apply(pd.to_numeric)

In [149]:
df_nutrition_drinks_copy['Carb. (g)'] = df_nutrition_drinks_copy['Carb. (g)'].apply(pd.to_numeric)
df_nutrition_drinks_copy['Fiber (g)'] = df_nutrition_drinks_copy['Fiber (g)'].apply(pd.to_numeric)
df_nutrition_drinks_copy['Protein'] = df_nutrition_drinks_copy['Protein'].apply(pd.to_numeric)
df_nutrition_drinks_copy['Sodium'] = df_nutrition_drinks_copy['Sodium'].apply(pd.to_numeric)

In [150]:
df_nutrition_drinks_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Drinks_item  177 non-null    object
 1   Calories     92 non-null     float64
 2   Fat (g)      92 non-null     float64
 3   Carb. (g)    92 non-null     float64
 4   Fiber (g)    92 non-null     float64
 5   Protein      92 non-null     float64
 6   Sodium       92 non-null     float64
dtypes: float64(6), object(1)
memory usage: 9.8+ KB

In [151]:
df_nutrition_food_copy = df_nutrition_food

In [152]:
df_nutrition_food_copy.head()

          Food_item   Calories   Fat (g)   Carb. (g)   Fiber (g)   Protein (g)
0      Chonga Bagel        300       5.0          50           3            12
1      8-Grain Roll        380       6.0          70           7            10
2  Almond Croissant        410      22.0          45           3            10
3     Apple Fritter        460      23.0          56           2             7
4  Banana Nut Bread        420      22.0          52           2             6

In [154]:
df_nutrition_food_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113 entries, 0 to 112
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Food_item     113 non-null    object
 1    Calories     113 non-null    int64
 2    Fat (g)      113 non-null    float64
 3    Carb. (g)    113 non-null    int64
 4    Fiber (g)    113 non-null    int64
 5    Protein (g)  113 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 5.4+ KB

In [155]:
df_nutrition_food_copy.isnull().sum()

Food_item       0
 Calories       0
 Fat (g)        0
 Carb. (g)      0
 Fiber (g)      0
 Protein (g)    0
dtype: int64

In [156]:
df_nutrition_food_copy.describe()

         Calories     Fat (g)   Carb. (g)   Fiber (g)   Protein (g)
count  113.000000  113.000000  113.000000  113.000000    113.000000
mean   356.637168   16.353982   41.486726    2.849558     11.469027
std    127.710685    8.297397   15.796764    2.888466      8.463230
min     90.000000    0.000000    5.000000    0.000000      1.000000
25%    280.000000    9.000000   31.000000    1.000000      5.000000
50%    360.000000   17.000000   42.000000    2.000000      8.000000
75%    450.000000   23.000000   53.000000    3.000000     19.000000
max    650.000000   37.000000   80.000000   21.000000     34.000000

In [157]:
df_drink_menu_copy.to_csv('Cleaned_drinks_menu.csv', index=False)
df_nutrition_drinks_copy.to_csv('Cleaned_nutrition_drinks.csv', index=False)
df_nutrition_food_copy.to_csv('Cleaned_nutrition_food.csv', index=False)