In [1]:
pwd

'c:\\Users\\Kunj Shah\\OneDrive\\Desktop'

In [2]:
import os

In [3]:
os.chdir(r"C:\Users\Kunj Shah\Downloads")

In [4]:
pwd

'C:\\Users\\Kunj Shah\\Downloads'

In [5]:
import pandas as pd

In [11]:
df = pd.read_csv(r'C:\Users\Kunj Shah\Downloads\game_sales_data.csv', encoding = 'unicode_escape')

In [12]:
df.head()

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
0,1,Wii Sports,Wii,Nintendo,Nintendo EAD,7.7,8.0,82.90,2006
1,2,Super Mario Bros.,NES,Nintendo,Nintendo EAD,10.0,8.2,40.24,1985
2,3,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,8.0,7.5,40.00,2012
3,4,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.32,2008
4,5,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,8.6,4.7,36.60,2017

In [13]:
df.shape

(19600, 9)

In [14]:
df_copy = df

In [15]:
df_copy.columns

Index(['Rank', 'Name', 'Platform', 'Publisher', 'Developer', 'Critic_Score',
       'User_Score', 'Total_Shipped', 'Year'],
      dtype='object')

In [16]:
df_copy.describe()

               Rank  Critic_Score   User_Score  Total_Shipped          Year
count  19600.000000   9969.000000  2223.000000   19600.000000  19600.000000
mean    9798.539133      7.034848     6.994872       0.551123   2007.789949
std     5658.110539      1.558968     1.517038       1.671466      6.326169
min        1.000000      0.800000     1.000000       0.010000   1977.000000
25%     4898.750000      6.100000     6.300000       0.050000   2004.000000
50%     9798.500000      7.300000     7.200000       0.160000   2008.000000
75%    14698.250000      8.200000     8.000000       0.460000   2012.000000
max    19598.000000     10.000000    10.000000      82.900000   2020.000000

In [17]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19600 entries, 0 to 19599
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           19600 non-null  int64
 1   Name           19600 non-null  object
 2   Platform       19600 non-null  object
 3   Publisher      19600 non-null  object
 4   Developer      19598 non-null  object
 5   Critic_Score   9969 non-null   float64
 6   User_Score     2223 non-null   float64
 7   Total_Shipped  19600 non-null  float64
 8   Year           19600 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 1.3+ MB

In [18]:
df_copy.isnull().sum()

Rank                 0
Name                 0
Platform             0
Publisher            0
Developer            2
Critic_Score      9631
User_Score       17377
Total_Shipped        0
Year                 0
dtype: int64

In [19]:
df_copy.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
19595    False
19596    False
19597    False
19598    False
19599    False
Length: 19600, dtype: bool

In [20]:
df_copy.duplicated().sum()

0

In [22]:
df_copy[df_copy.duplicated]

Empty DataFrame
Columns: [Rank, Name, Platform, Publisher, Developer, Critic_Score, User_Score, Total_Shipped, Year]
Index: []

In [23]:
df_copy.corr()

C:\Users\Kunj Shah\AppData\Local\Temp\ipykernel_32528\382007831.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_copy.corr()

                   Rank  Critic_Score  User_Score  Total_Shipped      Year
Rank           1.000000     -0.349772   -0.203942      -0.420119  0.189437
Critic_Score  -0.349772      1.000000    0.515379       0.235779  0.053852
User_Score    -0.203942      0.515379    1.000000       0.147828 -0.246976
Total_Shipped -0.420119      0.235779    0.147828       1.000000 -0.048958
Year           0.189437      0.053852   -0.246976      -0.048958  1.000000

In [24]:
"""
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Cabin'].fillna(df['Cabin'].mode()[0], inplace=True)
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)
"""

"\ndf['Age'].fillna(df['Age'].mean(), inplace=True)\ndf['Cabin'].fillna(df['Cabin'].mode()[0], inplace=True)\ndf['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)\n"

In [26]:
df_copy.isnull().sum()

Rank                 0
Name                 0
Platform             0
Publisher            0
Developer            2
Critic_Score      9631
User_Score       17377
Total_Shipped        0
Year                 0
dtype: int64

In [27]:
df_copy['Critic_Score'].value_counts()

8.0    588
7.0    559
7.5    390
6.0    355
8.5    322
      ...
1.4      2
1.2      2
1.1      1
1.3      1
0.8      1
Name: Critic_Score, Length: 90, dtype: int64

In [28]:
df_copy['User_Score'].value_counts()

7.7    87
8.0    82
7.2    77
6.9    76
7.1    75
       ..
2.2     1
1.2     1
1.0     1
2.4     1
1.8     1
Name: User_Score, Length: 88, dtype: int64

In [29]:
df_copy['User_Score'].mean()

6.994871794871796

In [30]:
df_copy['Critic_Score'].mean()

7.0348480288895585

In [31]:
df_copy.describe()

               Rank  Critic_Score   User_Score  Total_Shipped          Year
count  19600.000000   9969.000000  2223.000000   19600.000000  19600.000000
mean    9798.539133      7.034848     6.994872       0.551123   2007.789949
std     5658.110539      1.558968     1.517038       1.671466      6.326169
min        1.000000      0.800000     1.000000       0.010000   1977.000000
25%     4898.750000      6.100000     6.300000       0.050000   2004.000000
50%     9798.500000      7.300000     7.200000       0.160000   2008.000000
75%    14698.250000      8.200000     8.000000       0.460000   2012.000000
max    19598.000000     10.000000    10.000000      82.900000   2020.000000

In [32]:
df_copy['User_Score'].fillna(df_copy['User_Score'].mean(), inplace=True)

In [33]:
df_copy['Critic_Score'].fillna(df_copy['Critic_Score'].mean(), inplace=True)

In [37]:
df_copy['Developer'].value_counts()

Unknown                  489
Konami                   402
Capcom                   350
EA Canada                286
Bandai Namco Games       226
                        ...
Cat5Games                  1
Arush Entertainment        1
Carlsen Games              1
Freakzone Games            1
Shockwave Productions      1
Name: Developer, Length: 3054, dtype: int64

In [36]:
df_copy['Developer'].fillna(df_copy['Developer'].mode(), inplace=True)

In [38]:
df_copy['Developer'].value_counts()

Unknown                  489
Konami                   402
Capcom                   350
EA Canada                286
Bandai Namco Games       226
                        ...
Cat5Games                  1
Arush Entertainment        1
Carlsen Games              1
Freakzone Games            1
Shockwave Productions      1
Name: Developer, Length: 3054, dtype: int64

In [43]:
df_copy[df_copy['Developer'].isnull()]

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
10540,10539,Gourmet Chef: Cook Your Way to Fame,DS,Ubisoft,NaN,7.0,6.994872,0.14,2008
12501,12500,Wordmaster,DS,"Destination Software, Inc",NaN,5.8,6.994872,0.09,2008

In [45]:
df_copy.dropna(how='any', inplace=True)

In [47]:
df_copy.isnull().sum()

Rank             0
Name             0
Platform         0
Publisher        0
Developer        0
Critic_Score     0
User_Score       0
Total_Shipped    0
Year             0
dtype: int64

In [48]:
df_copy.head()

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
0,1,Wii Sports,Wii,Nintendo,Nintendo EAD,7.7,8.0,82.90,2006
1,2,Super Mario Bros.,NES,Nintendo,Nintendo EAD,10.0,8.2,40.24,1985
2,3,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,8.0,7.5,40.00,2012
3,4,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.32,2008
4,5,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,8.6,4.7,36.60,2017

In [49]:
df_copy.to_csv('video_game_analysis.csv', index=False)