In [2]:
pwd

'c:\\Users\\Kunj Shah\\OneDrive\\Desktop'

In [3]:
import os

In [4]:
os.chdir(r'C:\Users\Kunj Shah\Downloads')

In [5]:
pwd

'C:\\Users\\Kunj Shah\\Downloads'

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv(r'C:\Users\Kunj Shah\Downloads\zomato.csv')

In [8]:
df_copy = df

In [9]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [10]:
df_copy.drop(columns = ["url", "menu_item", "address", "dish_liked", "reviews_list"], inplace = True)

In [11]:
df_copy.columns

Index(['name', 'online_order', 'book_table', 'rate', 'votes', 'phone',
       'location', 'rest_type', 'cuisines', 'approx_cost(for two people)',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [12]:
df_copy.dropna(how='any', inplace=True)

In [13]:
df_copy.isnull().sum()

name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
phone                          0
location                       0
rest_type                      0
cuisines                       0
approx_cost(for two people)    0
listed_in(type)                0
listed_in(city)                0
dtype: int64

In [14]:
df_copy.shape

(42944, 12)

In [15]:
df_copy.drop_duplicates(inplace=True)

In [16]:
df_copy[df_copy.duplicated]

Empty DataFrame
Columns: [name, online_order, book_table, rate, votes, phone, location, rest_type, cuisines, approx_cost(for two people), listed_in(type), listed_in(city)]
Index: []

In [17]:
df_copy.duplicated().sum()

0

In [18]:
df_copy.shape

(42867, 12)

In [19]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42867 entries, 0 to 51716
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         42867 non-null  object
 1   online_order                 42867 non-null  object
 2   book_table                   42867 non-null  object
 3   rate                         42867 non-null  object
 4   votes                        42867 non-null  int64
 5   phone                        42867 non-null  object
 6   location                     42867 non-null  object
 7   rest_type                    42867 non-null  object
 8   cuisines                     42867 non-null  object
 9   approx_cost(for two people)  42867 non-null  object
 10  listed_in(type)              42867 non-null  object
 11  listed_in(city)              42867 non-null  object
dtypes: int64(1), object(11)
memory usage: 4.3+ MB

In [20]:
df_copy.isnull().sum()

name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
phone                          0
location                       0
rest_type                      0
cuisines                       0
approx_cost(for two people)    0
listed_in(type)                0
listed_in(city)                0
dtype: int64

In [21]:
df_copy['votes']

0        775
1        787
2        918
3         88
4        166
        ...
51709     34
51711     81
51712     27
51715    236
51716     13
Name: votes, Length: 42867, dtype: int64

In [22]:
df_copy['votes'] = df_copy['votes'].astype(str)
df_copy['votes'] = df_copy['votes'].apply(lambda x: x.replace(',',''))
df_copy['votes'] = df_copy['votes'].astype(float)

In [23]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42867 entries, 0 to 51716
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         42867 non-null  object
 1   online_order                 42867 non-null  object
 2   book_table                   42867 non-null  object
 3   rate                         42867 non-null  object
 4   votes                        42867 non-null  float64
 5   phone                        42867 non-null  object
 6   location                     42867 non-null  object
 7   rest_type                    42867 non-null  object
 8   cuisines                     42867 non-null  object
 9   approx_cost(for two people)  42867 non-null  object
 10  listed_in(type)              42867 non-null  object
 11  listed_in(city)              42867 non-null  object
dtypes: float64(1), object(11)
memory usage: 4.3+ MB

In [24]:
df_copy['votes']

0        775.0
1        787.0
2        918.0
3         88.0
4        166.0
         ...
51709     34.0
51711     81.0
51712     27.0
51715    236.0
51716     13.0
Name: votes, Length: 42867, dtype: float64

In [25]:
df_copy['approx_cost(for two people)'] = df_copy['approx_cost(for two people)'].astype(str)
df_copy['approx_cost(for two people)'] = df_copy['approx_cost(for two people)'].apply(lambda x: x.replace(',',''))
df_copy['approx_cost(for two people)'] = df_copy['approx_cost(for two people)'].astype(float)

In [26]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42867 entries, 0 to 51716
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         42867 non-null  object
 1   online_order                 42867 non-null  object
 2   book_table                   42867 non-null  object
 3   rate                         42867 non-null  object
 4   votes                        42867 non-null  float64
 5   phone                        42867 non-null  object
 6   location                     42867 non-null  object
 7   rest_type                    42867 non-null  object
 8   cuisines                     42867 non-null  object
 9   approx_cost(for two people)  42867 non-null  float64
 10  listed_in(type)              42867 non-null  object
 11  listed_in(city)              42867 non-null  object
dtypes: float64(2), object(10)
memory usage: 4.3+ MB

In [27]:
df_copy['approx_cost(for two people)']

0         800.0
1         800.0
2         800.0
3         300.0
4         600.0
          ...
51709     800.0
51711     800.0
51712    1500.0
51715    2500.0
51716    1500.0
Name: approx_cost(for two people), Length: 42867, dtype: float64

In [28]:
df_copy.columns

Index(['name', 'online_order', 'book_table', 'rate', 'votes', 'phone',
       'location', 'rest_type', 'cuisines', 'approx_cost(for two people)',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [29]:
df_copy['rate']

0         4.1/5
1         4.1/5
2         3.8/5
3         3.7/5
4         3.8/5
          ...
51709    3.7 /5
51711    2.5 /5
51712    3.6 /5
51715    4.3 /5
51716    3.4 /5
Name: rate, Length: 42867, dtype: object

In [30]:
df_copy['rate'].value_counts()

NEW       2180
3.9/5     2073
3.7/5     1992
3.8/5     1990
3.9 /5    1845
          ...
2.2 /5       7
2.0 /5       7
2.0/5        4
1.8 /5       3
1.8/5        2
Name: rate, Length: 64, dtype: int64

In [31]:
df_copy['rate'].nunique()

64

In [32]:
df_copy['rate'].describe()

count     42867
unique       64
top         NEW
freq       2180
Name: rate, dtype: object

In [33]:
import numpy as np

In [34]:
def modify_rate(value):
    if (value == "NEW" or value == "-") :
        return np.nan
    else:
        value = str(value).split('/')
        value = value[0]
        return float(value)

df_copy['rate'] = df['rate'].apply(modify_rate)
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42867 entries, 0 to 51716
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         42867 non-null  object
 1   online_order                 42867 non-null  object
 2   book_table                   42867 non-null  object
 3   rate                         40622 non-null  float64
 4   votes                        42867 non-null  float64
 5   phone                        42867 non-null  object
 6   location                     42867 non-null  object
 7   rest_type                    42867 non-null  object
 8   cuisines                     42867 non-null  object
 9   approx_cost(for two people)  42867 non-null  float64
 10  listed_in(type)              42867 non-null  object
 11  listed_in(city)              42867 non-null  object
dtypes: float64(3), object(9)
memory usage: 4.3+ MB

In [35]:
df_copy['rate']

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51709    3.7
51711    2.5
51712    3.6
51715    4.3
51716    3.4
Name: rate, Length: 42867, dtype: float64

In [36]:
df_copy['rate'].value_counts()

3.9    3918
3.8    3793
3.7    3767
3.6    3232
4.0    3098
4.1    2870
3.5    2723
3.4    2405
3.3    2234
4.2    2125
3.2    1790
4.3    1668
3.1    1499
4.4    1119
3.0     981
2.9     795
4.5     635
2.8     574
4.6     293
2.7     288
2.6     249
4.7     167
2.5      95
2.4      66
4.8      66
4.9      55
2.3      51
2.2      26
2.1      24
2.0      11
1.8       5
Name: rate, dtype: int64

In [37]:
df_copy['rate'].isnull().sum()

2245

In [38]:
df_copy['rate'].dropna(how='any', inplace=True)

In [39]:
df_copy['rate'].isnull().sum()

2245

In [40]:
df_copy.shape

(42867, 12)

In [41]:
df_copy.dropna(how='any', inplace=True)

In [42]:
df_copy.shape

(40622, 12)

In [43]:
df_copy['rate'].isnull().sum()

0

In [44]:
df_copy.columns

Index(['name', 'online_order', 'book_table', 'rate', 'votes', 'phone',
       'location', 'rest_type', 'cuisines', 'approx_cost(for two people)',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [45]:
df_copy['phone'].value_counts()

080 43334321                          181
080 43334333                           61
+91 7710055553                         58
080 33994444                           57
+91 7700020020                         54
                                     ...
080 26783426\r\r\r\n+91 8050718410      1
080 26841198\r\r\r\n+91 8904516291      1
080 65703696\r\n080 40900253            1
080 42050685\r\n+91 9880800874          1
080 25283252                            1
Name: phone, Length: 12145, dtype: int64

In [46]:
#df.to_csv('cleaned_zomato_data.csv', index= False)

In [47]:
pwd

'C:\\Users\\Kunj Shah\\Downloads'

In [48]:
df_copy.columns

Index(['name', 'online_order', 'book_table', 'rate', 'votes', 'phone',
       'location', 'rest_type', 'cuisines', 'approx_cost(for two people)',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [49]:
df_copy['name'].value_counts()

Cafe Coffee Day         86
Onesta                  85
Empire Restaurant       69
Kanti Sweets            68
Just Bake               67
                        ..
HVR Veg                  1
Hotel Ayodhya Upahar     1
Hotel Rajesh             1
Pizza Republic           1
SeeYa Restaurant         1
Name: name, Length: 6533, dtype: int64

In [52]:
df_copy.rename(columns={'name' : 'Name', 'listed_in(type)' : 'Type'}, inplace=True)

In [53]:
df_copy.rename(columns={'online_order' : 'Online_Orders', 'listed_in(type)' : 'Type'}, inplace=True)

In [54]:
df_copy.rename(columns={'book_table' : 'Book_Table', 'listed_in(type)' : 'Type'}, inplace=True)
df_copy.rename(columns={'rate' : 'Rate', 'listed_in(type)' : 'Type'}, inplace=True)
df_copy.rename(columns={'votes' : 'Votes', 'listed_in(type)' : 'Type'}, inplace=True)
df_copy.rename(columns={'phone' : 'Phone', 'listed_in(type)' : 'Type'}, inplace=True)
df_copy.rename(columns={'location' : 'Location', 'listed_in(type)' : 'Type'}, inplace=True)
df_copy.rename(columns={'rest_type' : 'Rest_Type', 'listed_in(type)' : 'Type'}, inplace=True)
df_copy.rename(columns={'cuisines' : 'Cuisines', 'listed_in(type)' : 'Type'}, inplace=True)
df_copy.rename(columns={'approx_cost(for two people)' : 'Approx_Cost', 'listed_in(type)' : 'Type'}, inplace=True)
df_copy.rename(columns={'listed_in(city)' : 'City', 'listed_in(type)' : 'Type'}, inplace=True)

In [55]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40622 entries, 0 to 51716
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           40622 non-null  object
 1   Online_Orders  40622 non-null  object
 2   Book_Table     40622 non-null  object
 3   Rate           40622 non-null  float64
 4   Votes          40622 non-null  float64
 5   Phone          40622 non-null  object
 6   Location       40622 non-null  object
 7   Rest_Type      40622 non-null  object
 8   Cuisines       40622 non-null  object
 9   Approx_Cost    40622 non-null  float64
 10  type           40622 non-null  object
 11  City           40622 non-null  object
dtypes: float64(3), object(9)
memory usage: 4.0+ MB

In [56]:
pwd

'C:\\Users\\Kunj Shah\\Downloads'

In [57]:
df_copy.to_csv(r"zomato_cleaned_version1.csv", index=False)

In [58]:
df_copy['Online_Orders'].value_counts()

Yes    26840
No     13782
Name: Online_Orders, dtype: int64